# Intellij
.idea/
*.iml
*.ipr
*.iws

# Package file
*.jar
*.war

# config & reporter directory
*.log
log/
drivers/
#src/main/resources/config/*.*
#src/main/resources/config/*.template
#src/main/resources/config/*.properties

#allure reporting
.allure/
target/

# test class
Test*.java