# Intellij
.idea/
*.iml
*.ipr
*.iws

# Package file
*.jar
*.war

# config & reporter directory
*.log
log/
drivers/
configuration/*.template

#allure reporting
.allure/
target/

# test class
Test*.java
Test.java